<div class="container">

<section class="jumbotron">
    <br>
    <h1>Article Scraper</h1>
    <br>
    <h2>Make comments on articles you saved! </h2>
    <br />

    <a href="/">
      <button type="button" class="btn btn-warning">
        Scrape New Article
      </button>
    </a>
    &nbsp;&nbsp;
    <a href="/saved">
    <button type="button" class="btn btn-warning">
      Saved Articles
    </button>
  </a>
  &nbsp;&nbsp;
  <a href="https://www.theverge.com/tech" target="_blank">
    <button type="button" class="btn btn-warning">
      Visit The Verge
    </button>
  </a>
  <br>
  <br>
  </section>

{{!-- Article Panels --}}
<div class="container">
  {{#each saved}}
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-heading" id="panelHead">
        <h3 class="panel-title">{{this.title}}</h3>
      </div>
      <div class="panel-body">
        <a href="{{this.link}}" id="savedLink">{{this.link}}</a>
        <form class="navbar-form navbar-right" method="POST" action="/delete/{{this.id}}?_method=PUT">
        <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#myModal{{this.id}}" id="addNote">Notes</button>
        
          <button type="submit" class="btn btn-warning" id="articleButton">Delete Article</button>
        </form>        
      </div>
    </div>
  </div>
  {{/each}}
</div>
{{!-- <!-- Modal --> --}}
{{#each saved}}
<div class="modal fade" id="myModal{{this.id}}" role="dialog">
  <div class="modal-dialog">
  {{!-- <!-- Modal content--> --}}
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title">Write a note</h4>
    </div>
    <div class="modal-body">
      {{#each this.notes}}
        <div class="row">
          <div class="panel panel-default">
            <div class="panel-body">
              {{this.body}}
              <form class="navbar-form navbar-right" method="POST" action="/saved/delete/{{this.id}}?_method=DELETE">
                <button type="submit" class="btn btn-warning">Delete Note</button>
              </form>
            </div>
          </div>
        </div>
      {{/each}}
        <div class="row">
          <form class="navbar-form navbar-left" action="/saved/notes/{{this.id}}" method="POST">
            <div class="form-group">
              <label for="apptNotes">Notes</label>
              <textarea class="form-control" rows="3" id="apptNotes" name="body" placeholder="Notes"></textarea>
            </div>
            <button type="submit" class="btn btn-warning">Save</button>
          </form>
        </div>  
      </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
    </div>
  </div>
</div>
{{/each}}
</div>
